body, html, ul, li, h1 {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  color: inherit;
  background: transparent;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.snake-game {
  text-align: center;
  font-size: 36px;
}

.board {
  margin: 0 auto;
  width: 700px;
  border: 1px solid #AAA;
}

.board > li {
  float: left;
  width: 33px;
  height: 33px;
  border: 1px solid #AAA;
}

.snake {
  background: #FC9D6F;
}

.snake-head {
	background-image: url("../drakenoteeth.jpg");
	background-size: cover;
}

/*.N {
	transform: rotate(90deg);
}*/

.W {
	transform: scaleX(-1);
}

/*.S {
	transform: rotate(270deg);
}*/

.apple {
  background-image: url("../ovoOwl.jpg");
	background-size: cover;
}
