body, html, ul, li, h1, h2, h3, button {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  color: inherit;
  background: transparent;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  list-style: none;
}

body {
	font-family: sans-serif;
}

h1 {
	font-weight: 700;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.snake-game {
  text-align: center;
  font-size: 36px;
}

.snake-header {
	width: 700px;
	margin: 0 auto;
}
.snake-header h1 {
	width: 100px;
	float: left;
}

.snake-header h2 {
	margin-top: 12px;
	float: right;
	font-size: 24px;
	color: #F00;
}

.you-lose-modal {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 120px;
	width: 200px;
	margin-left: -100px;
	margin-top: -60px;
	border-radius: 10px;
	background: #EEE;
}

.you-lose-modal.visible {
	display: block;
}

.you-lose-modal h3 {
	font-size: 24px;
	font-weight: 700;
	margin: 10px auto;
}

.you-lose-modal button {
	cursor: pointer;
	color: white;
	background: #0A0;
	box-shadow: 0px 2px 0px #090;
	margin: 10px auto;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 16px;
}

.you-lose-modal button:active {
	background: #090;
	margin-top: 16px;
	box-shadow: none;
}

.board {
  margin: 0 auto;
  width: 700px;
  border: 1px solid #EEE;
}

.board > li {
  float: left;
  width: 33px;
  height: 33px;
  border: 1px solid #EEE;
}

.snake {
  background: #FC9D6F;
}

.snake-head {
	background-image: url("../drakenoteeth.jpg");
	background-size: cover;
}

.W {
	transform: scaleX(-1);
}

.apple {
  background-image: url("../ovoOwl.png");
	background-size: cover;
}
